<script type="text/javascript">
	function characterSheetReady()
	{
		function basicRoll(bonus)
		{ return "1d20+" + parseInt(bonus); }
		addNamedRolls([
			{ names: ["{{strings.Str}}", "Str"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Str}}") },
			{ names: ["{{strings.Dex}}", "Dex"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Dex}}") },
			{ names: ["{{strings.Con}}", "Con"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Con}}") },
			{ names: ["{{strings.Int}}", "Int"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Int}}") },
			{ names: ["{{strings.Wis}}", "Wis"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Wis}}") },
			{ names: ["{{strings.Cha}}", "Cha"], notation: basicRoll.bind(undefined, "{{ability_bonus character.Cha}}") },
		]);
	}

	function showPowerCard(power) 
	{
		power.nextElementSibling.style.display='block';
	}

	function hidePowerCard(power, event)
	{
		if (event.target.className.indexOf('inline-dice-roll') == -1)
			{ power.style.display="none"; }
	}
</script>

{{#with character}}
<div id="header">
	<img data-widget="token" id="Token" src="data:image/jpeg;base64,{{Token}}" />
	<div class="attribute" id="Name">
		<div class="label">{{@root.strings.Name}}</div>
		<div class="value">{{Name}}</div>
	</div>
	<!-- vitals -->
	<div data-widget="pages" data-min-width="238" id="vitals">
		<div class="column">
			<div class="attribute" id="Level">
				<div class="label">{{@root.strings.Level}}: </div>
				<div class="value">{{Level}}</div>
			</div>
			<div class="attribute" id="Class">
				<div class="label">{{@root.strings.Class}}: </div>
				<div class="value">{{Class}}</div>
			</div>
			<div class="attribute" id="Race">
				<div class="label">{{@root.strings.Race}}: </div>
				<div class="value">{{Race}}</div>
			</div>
			<div class="attribute" id="Align">
				<div class="label">{{@root.strings.Align}}: </div>
				<div class="value">{{Align}}</div>
			</div>
			<div class="attribute" id="XP">
				<div class="label">{{@root.strings.XP}}: </div>
				<div class="value">{{XP}}</div>
				<div class="extra">/ {{next_level XP}}</div>
			</div>
		</div>

		<div class="column">
			<div class="attribute" id="Size">
				<div class="label">{{@root.strings.Size}}: </div>
				<div class="value">{{Size}}</div>
			</div>
			<div class="attribute" id="Age">
				<div class="label">{{@root.strings.Age}}: </div>
				<div class="value">{{Age}}</div>
			</div>
			<div class="attribute" id="Height">
				<div class="label">{{@root.strings.Height}}: </div>
				<div class="value">{{Height}}</div>
			</div>
			<div class="attribute" id="Weight">
				<div class="label">{{@root.strings.Weight}}: </div>
				<div class="value">{{Weight}}</div>
			</div>
			<div class="attribute" id="Gender">
				<div class="label">{{@root.strings.Gender}}: </div>
				<div class="value">{{Gender}}</div>
			</div>
		</div>

		<div class="column">
			<div class="attribute" id="Player">
				<div class="label">{{@root.strings.Player}}</div>
				<div class="value">{{Player}}</div>
			</div>
			<div class="attribute" id="Paragon">
				<div class="label">{{@root.strings.Paragon}}: </div>
				<div class="value">{{Paragon}}</div>
			</div>
			<div class="attribute" id="Epic">
				<div class="label">{{@root.strings.Epic}}: </div>
				<div class="value">{{Epic}}</div>
			</div>
			<div class="attribute" id="Deity">
				<div class="label">{{@root.strings.Deity}}: </div>
				<div class="value">{{Deity}}</div>
			</div>
			<div class="attribute" id="Company">
				<div class="label">{{@root.strings.Company}}: </div>
				<div class="value">{{Company}}</div>
			</div>
		</div>
	</div>
</div>

<div id="column-container" data-widget="pages" data-min-width="240">
	<div class="block column">
		{{#*inline "ability_scores"}}
		<div class="block ability">
			<div class="ability-name" id="{{this}}_label">{{value_of @root.strings this}}</div>
			<div class="ability-score" id="{{this}}">{{value_of @root.character this}}</div>
			<div class="ability-misc">{{@root.strings.ability_misc}}</div>
			<div class="ability-bonus calculated" id="{{this}}_bonus" data-roll="1d20+*">{{ability_bonus (value_of @root.character this)}}</div>
			<div class="ability-help">{{value_of @root.strings (concat this "_help")}}</div>
			{{#filter_each @root.character.Skills "attribute" this}}
			<div class="skill item" id="{{name}}">
				<div class="skill-name">{{name}}</div> 
				<div class="skill-trained"><span class="checkbox">{{#if trained}}&#x2611;{{else}}&#x2610;{{/if}}</span> Trained</div>
				<div class="skill-stats" data-roll="1d20+*">{{bonus}}</div>
			</div>
			{{/filter_each}}
		</div>
		{{/inline}}

		<div class="block" id="abilities">
			<div class="block-title">{{@root.strings.abilities}}</div>
			{{> ability_scores "Str"}}
			{{> ability_scores "Dex"}}
			{{> ability_scores "Con"}}
			{{> ability_scores "Int"}}
			{{> ability_scores "Wis"}}
			{{> ability_scores "Cha"}}
		</div>
	</div>
	<div class="block column">
		<div class="block" id="combat">
			<div class="block-title">{{@root.strings.combat}}</div>

			<div class="block ability" id="Init">
				<div class="ability-name">{{@root.strings.Init}}</div>
				<div class="ability-score">{{Init}}</div>
				<div class="ability-help">{{@root.strings.Init_help}}</div>
			</div>
			<div class="block ability" id="Speed">
				<div class="ability-name">{{@root.strings.Speed}}</div>
				<div class="ability-score">{{Speed}}</div>
				<div class="ability-help">{{@root.strings.Speed_help}}</div>
			</div>

			<div class="block" id="defenses">
				<div class="block-title">{{@root.strings.defenses}}</div>
				<div class="block ability" id="AC">
					<div class="ability-name">{{@root.strings.AC}}</div>
					<div class="ability-score">{{AC}}</div>
					<div class="ability-help">{{@root.strings.AC_help}}</div>
				</div>
				<div class="block ability" id="Fort">
					<div class="ability-name">{{@root.strings.Fort}}</div>
					<div class="ability-score">{{Fort}}</div>
					<div class="ability-help">{{@root.strings.Fort_help}}</div>
				</div>
				<div class="block ability" id="Ref">
					<div class="ability-name">{{@root.strings.Ref}}</div>
					<div class="ability-score">{{Ref}}</div>
					<div class="ability-help">{{@root.strings.Ref_help}}</div>
				</div>
				<div class="block ability" id="Will">
					<div class="ability-name">{{@root.strings.Will}}</div>
					<div class="ability-score">{{Will}}</div>
					<div class="ability-help">{{@root.strings.Will_help}}</div>
				</div>
			</div>

			<div class="block ability" id="HP">
				<div class="ability-name">{{@root.strings.MaxHP}}</div>
				<div class="ability-score" id="MaxHP">{{MaxHP}}</div>
				<div class="ability-bonus-label">{{@root.strings.bloodied}}</div>
				<div class="ability-bonus">{{half_value MaxHP}}</div>
				<div class="ability-help">{{@root.strings.HP_help}}</div>
			</div>
			<div class="attribute">
				<div class="label">{{@root.strings.SurgeValue}}</div>
				<div class="value">{{quarter_value MaxHP}}</div>
			</div>
			<div class="attribute" id="Surges">
				<div class="label">{{@root.strings.Surges}}</div>
				<div class="value">{{Surges}}</div>
				<div class="help">{{@root.strings.Surge_help}}</div>
			</div>
			<div class="block" id="temps">
				<div class="attribute" id="CurHP">
					<div class="label">{{@root.strings.CurHP}}</div>
					<div class="value" data-widget="spinner" data-max="{{MaxHP}}" data-value="{{#if CurHP}}{{CurHP}}{{else}}{{MaxHP}}{{/if}}">&nbsp;</div>
				</div>
				<div class="attribute" id="TempHP">
					<div class="label">{{@root.strings.TempHP}}</div>
					<div class="value" data-widget="spinner" data-value="{{#if TempHP}}{{TempHP}}{{else}}0{{/if}}">&nbsp;</div>
				</div>
				<div class="attribute" id="CurSurges">
					<div class="label">{{@root.strings.CurSurges}}</div>
					<div class="value" data-widget="spinner" data-max="{{Surges}}" data-value="{{#if CurSurges}}{{CurSurges}}{{else}}{{Surges}}{{/if}}">&nbsp;</div>
				</div>
			</div>
			<div class="attribute" id="DeathSave">
				<div class="label">{{@root.strings.DeathSave}}</div>
				<div class="widget" data-widget="pips" data-value="{{#if DeathSave}}{{DeathSave}}{{else}}0{{/if}}" data-max="3"></div>
			</div>
			<div class="attribute" id="SaveMods">
				<div class="label">{{@root.strings.SaveMods}}</div>
				<div class="value">{{SaveMods}}</div>
			</div>
			<div class="attribute" id="Resist">
				<div class="label">{{@root.strings.Resist}}</div>
				<div class="value">{{Resist}}</div>
			</div>
			<div class="attribute" id="Conditions">
				<div class="label">{{@root.strings.Conditions}}</div>
				<div class="value">{{Conditions}}</div>
			</div>
		</div>
	</div>

	<div class="block column">
		{{#*inline "string_list" }}
		<div class="attribute list">
			<div class="block-title">{{title}}</div>
			{{#each array}}
			<div class="item">{{this}}</div>
			{{/each}}
		</div>
		{{/inline}}

		<div class="block" id="features">
			<div class="block-title">{{@root.strings.features}}</div>
			<div class="attribute list" id="Powers">
				<div class="block-title">{{@root.strings.Powers}}</div>
				{{#each Powers}}
				<div class="item {{use-type}}" onclick="javascript:showPowerCard(this);"><input type="checkbox" {{#if used}}checked{{/if}} onclick="javascript:event.stopPropagation();" />{{name}}</div>
				<div class="power-card" id="Powers-{{@index}}" onclick="javascript:hidePowerCard(this, event);">
					<div class="card {{use-type}}">
						<div class="power-title">
							<div class="power-name">{{name}}</div>
							<div class="power-category">{{category}}</div>
						</div>
						<div class="attribute power-keywords" id="Powers-{{@index}}-keywords">{{value_of @root.strings (concat "UseType_" use-type)}}{{#if keywords}} &#x25c6; {{keywords}}{{/if}}</div>
						<div class="attribute power-action-type" id="Powers-{{@index}}-action-type">
							{{value_of @root.strings (concat "ActionType_" action-type)}}
						</div>
						<div class="attribute power-range" id="Powers-{{@index}}-range">{{range}}</div>
						<div class="attribute power-target" id="Powers-{{@index}}-target">
							<div class="label">{{@root.strings.power_target}}:</div>
							<div class="value">{{target}}</div>
						</div>
						<div class="attribute power-attack-bonus" id="Powers-{{@index}}-attack-bonus">
							<div class="label">{{@root.strings.power_attack_bonus}}:</div>
							<div class="value">{{attack-bonus}} {{@root.strings.versus}} {{damage-roll}}</div>
						</div>
						<div class="attribute power-effect" id="Powers-{{@index}}-effect">
							<div class="label">{{@root.strings.power_effect}}:</div>
							<div class="value" data-has-dice-rolls>{{effect}}</div>
						</div>
					</div>
				</div>
				{{/each}}
				<div class="attribute" id="MIUsed">
					<input class="value" type="checkbox" {{#if MIUsed}}checked{{/if}} />
					<div class="label">{{@root.strings.MIUsed}}</div>
				</div>
			</div>
			{{> string_list title=@root.strings.feats_rituals array=(concat (concat @root.strings.feat_item Feats) (concat @root.strings.ritual_item Rituals)) min=6}}
			{{> string_list title=@root.strings.features array=(concat (concat (concat Race ": ") RaceFeatures) (concat (concat Class ": ") ClassFeatures) (concat (concat Paragon ": ") ParagonFeatures) (concat (concat Epic ": ") EpicFeatures)) min=10}}
			<div class="attribute list" id="Languages">
				<div class="block-title">{{@root.strings.Languages}}</div>
				<div class="item">{{join Languages ", "}}</div>
			</div>
		</div>
	</div>
	<div class="block column">
		<div class="block" id="misc">
			<div class="block-title">{{@root.strings.details}}</div>
			{{> string_list title=@root.strings.equip_magic array=(concat Equipment MagicItems) min=10}}
			<div class="attribute" id="Allies">
				<div class="label">{{@root.strings.Allies}}</div>
				<div class="value">{{Allies}}</div>
			</div>
			<div class="attribute" id="Personality">
				<div class="label">{{@root.strings.Personality}}</div>
				<div class="value">{{Personality}}</div>
			</div>
			<div class="attribute" id="Appearance">
				<div class="label">{{@root.strings.Appearance}}</div>
				<div class="value">{{Appearance}}</div>
			</div>
			<div class="attribute" id="Background">
				<div class="label">{{@root.strings.Background}}</div>
				<div class="value">{{Background}}</div>
			</div>
			<div class="attribute" id="Wealth">
				<div class="label">{{@root.strings.Wealth}}</div>
				<div class="value">{{Wealth}}</div>
			</div>
			<div class="attribute" id="Notes">
				<div class="label">{{@root.strings.Notes}}</div>
				<div class="value">{{Notes}}</div>
			</div>
		</div>
	</div>
</div>

{{/with}}
